/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMONS */
body {
    font-family: 'Roboto', sans-serif;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

.section-container {
    max-width: 850px;
    margin: auto;
    padding: 80px 0 100px;
}

/* HEADER */
header{
    background-image: url("../img/jumbo.png");
    background-size: cover;
    width: 100%;
    color: white;
}

/* HEADER-NAV */
.nav-container {
    max-width: 1200px;
    margin: auto; 
    padding-top: 20px;
}

.header-nav {
    width: 100%;
}

.header-nav, .nav-middle ul li {
    display: inline-block;
}

.nav-left, .nav-middle, .nav-right {
    float: left;
}

.nav-left, .nav-right {
    width: 15%;
}

.nav-middle {
    width: 70%;
    text-align: center;
}

.nav-right {
    text-align: right;
}

.nav-middle ul li a {
    text-decoration: none;
    color: white;
    margin-left: 35px;
}

.nav-right button {
    padding: 5px 8px;
    border-radius: 20px;
    background-color: white;
    border: 1px solid white;
    font-weight: bold;
    color: black;
}


/* HEADER-BOX */
.box-container {
    margin: auto;
    max-width: 600px;
    padding: 80px 0 100px;
}

.box-text h1 {
    text-align: center;
    font-size: 42px;
}

.box-text p {
    text-align: center;
    margin-top: 40px;
    line-height: 25px;
}

.box-button {
    margin-top: 20px;
    text-align: center;
}

.box-button button {
    padding: 10px 15px;
    border-radius: 20px;
}

.button-mac {
    margin-right: 30px;
    color: black;
    font-weight: bold;
    background-color: white;
    border: 1px solid white;
}

.button-mac i {
    margin-right: 5px;
}

.button-browser {
    color: white;
    font-weight: bold;
    background-color: black;
    border: 1px solid black;
}

/* MAIN */
/* FIRST SECTION */
.col-left, .col-right {
    float: left;
}

.col-left {
    width: 70%;
}

.col-right {
    width: 30%;
}

.col-left img {
    height: 350px;
}

.col-right h2 {
    font-size: 35px;
    margin-top: 25px;
}

.col-right p {
    margin-top: 20px;
}

/* SECOND SECTION */
.second-section {
    background-color: #f6f6f6;
}

.second-section .col-left {
    width: 30%;
}

.second-section .col-right {
    width: 70%;
}

.second-section .col-right img {
    height: 350px;
}

.second-section .col-left h2 {
    font-size: 35px;
    margin-top: 25px;
}

.second-section .col-left p {
    margin-top: 20px;
}

/* FOURTH SECTION */
.fourth-section {
    background-color: #f6f6f6;
}

.row-top {
    text-align: center;
}

.row-top h2 {
    font-size: 35px;
}

.row-top p {
    margin-top: 20px;
}

.download {
    background-image: url("../img/stars.svg");
    background-size: 50%;
    background-repeat: no-repeat;
}

.download h3 {
    text-align: center;
    margin-top: 25px;
    font-size: 25px;
}

.download-button {
    text-align: center;
    margin-top: 25px;
}

.download-button button{
    margin-right: 30px;
    color: white;
    font-weight: bold;
    background-color: #8ea1e1;
    border: 1px solid #8ea1e1;
    padding: 10px 15px;
    border-radius: 20px;
}

.download-button i {
    margin-right: 5px;
}